:root{
  --primary-Ligth-red: rgba(255, 87, 87, 0.7);
  --primary-Orange-yellow: hsla(39, 100%, 56%, 0.7);
  --primary-Green-teal: hsla(166, 100%, 37%, .7);
  --primary-Cobalt-blue: hsla(234, 85%, 45%, .7);

  --primary-Ligth-red-bc: hsla(0, 100%, 67%, .1);
  --primary-Orange-yellow-bc: hsl(39, 100%, 56%, .1);
  --primary-Green-teal-bc: hsl(166, 100%, 37%, .1);
  --primary-Cobalt-blue-bc: hsl(234, 85%, 45%, .1);

  --gradient-Light-slate-blue-background: hsl(252, 100%, 67%);
  --gradient-Light-royal-blue-background: hsl(241, 80%, 54%);

--gradient-Violet-blue-circle: hsla(256, 72%, 46%, 1);
-gradient-Persian-blue-circle: hsla(241, 72%, 46%, 0);

--neutral-White: hsl(0, 0%, 100%);
--neutral-Pale-blue: hsl(221, 100%, 96%);
--neutral-Light-lavender: hsl(241, 100%, 89%);
--neutal-Dark-gray-blue: hsl(224, 30%, 27%);

--text-dark-gray: hsla(224, 30%, 27%, 0.352);
--text-gray: hsla(0, 0%, 100%, 0.734);

}


*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing:border-box ;
  font-family: 'Hanken Grotesk', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

main{
  min-height: 45vh;
  max-width: 30rem;
  display: flex;
  padding-right: .2rem;
  border-radius: 1rem;
  background: var(--neutral-White);
  box-shadow: 0rem 0rem 5rem .2rem var(--neutral-Pale-blue);
}

section{
  flex: 1;
}

section:first-child{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  padding: .75rem;
  text-align: center;
  color: var(--neutral-White);
  margin-right: .5rem;
  background:  linear-gradient(to bottom, #2e2be8b0, #2e2be8 50%);
}

section:first-child > h1{
  font-weight: 800;;
}

.txt_gray{
  color: var(--text-gray);
}

.txt_drk{
  color: var(--neutal-Dark-gray-blue);
}

.circle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background:  linear-gradient(to top, #2e2be8, #0e0ba7ae 90%);
}

.score{
  font-weight: 800;
  font-size: 2.5rem;
}


section:nth-child(2){
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section:nth-child(2) > ul >li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: .5rem 0;
  border-radius: .5rem;
  padding: .4rem .4rem;
  font-weight: 500;
}

section:nth-child(2) > ul > li > div:first-child{
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-child(2) ul li div h3 {
  margin-left: .3rem;
}

section:nth-child(2) > ul > li > div:nth-child(2){
  color: var(--text-dark-gray);
}

section:nth-child(2) > ul > li > div:nth-child(2) > span:first-child{
  color: var(--neutal-Dark-gray-blue);
}

section:nth-child(2) > ul > li > div:nth-child(2) > span:nth-child(2){
  color: var(--text-dark-gray);
}

.reaction{
  background: var(--primary-Ligth-red-bc);
  color: var(--primary-Ligth-red);
}

.memory{
  background: var(--primary-Orange-yellow-bc);
  color: var(--primary-Orange-yellow);
}

.verbal{
  background: var(--primary-Green-teal-bc);
  color: var(--primary-Green-teal);
}

.visual{
  background: var(--primary-Cobalt-blue-bc);
  color: var(--primary-Cobalt-blue);
}

  .btn{
    width: 100%;
    border-radius: 5rem;
    color: var(--neutral-White);
    background: var(--neutal-Dark-gray-blue);
    border: 0;
    padding:  .5rem .2rem  ;
    transition: background-color  .3s ease;
    cursor: pointer;
  }
  
  .btn:hover{
    background: linear-gradient(to bottom, #2e2be89c, #2e2be8 80%);
  }

  @media  screen and (max-width: 376px) {
    main{
      min-height: 95vh;
      flex-direction: column;
      padding: 0 1rem;
    }

    section:first-child{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 1rem;
      padding: .75rem;
      text-align: center;
      color: var(--neutral-White);
      margin-right: 0;
      background:  linear-gradient(to bottom, #2e2be8b0, #2e2be8 50%);
    }

    section:nth-child(2) > ul >li {
      margin: .2rem 0;
      border-radius: .5rem;
      padding: .9rem .4rem;
      font-weight: 500;
    }

    section:nth-child(2){
      padding: 0rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .btn{
      font-size: 1rem;
      padding:  1rem 2rem  ;
    }
  }